@import url('https://fonts.googleapis.com/css2?family=Satoshi:wght@400;900&family=Nunito:wght@400&family=Mogra&display=swap');

/* Variables de couleurs */
:root {
    --jaune: #f6c944;
    --blanc: #ffffff;
    --noir: #000000;
    --violet: #87379a;
    --bleu: #372dff;
    --degrade: linear-gradient(45deg, var(--violet), var(--bleu));
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: var(--blanc);
    color: var(--noir);
    min-height: 100vh;
    width: 100%;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {

    font-style: normal;
    color: var(--noir);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Mise en place des styles pour les éléments p, label et input */

/* Header */
header {
    position: sticky;
    background: var(--degrade);
    padding: 20px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo {
    font-size: 28px;
    font-weight: 900;
    color: var(--jaune);
    text-transform: uppercase;
    margin-left: 20px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    position: relative;
    text-decoration: none;
    color: var(--blanc);
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

nav a:not(.en-cours)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--blanc);
    transition: width 0.3s ease-in-out;
}

nav a:not(.en-cours):hover::after {
    width: 100%;
}

/* Boutons */
.connexion, .btn {
    background: var(--bleu);
    color: var(--blanc);
    padding: 12px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 900;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 20px;
    display: inline-block;
    border: 3px solid var(--blanc);
}

.connexion:hover, .btn:hover {
    background: var(--jaune);
    color: var(--noir);
}

/* Sections */
section {
    padding: 60px 20px;
}

/* Footer */
footer {
    background: var(--degrade);
    padding: 20px;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

footer a {
    position: relative;
    text-decoration: none;
    color: var(--blanc);
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--blanc);
    transition: width 0.3s ease-in-out;
}

footer a:hover::after {
    width: 100%;
}

/* Modification de l'image pour qu'elle soit plus grande et arrondie */
.contact {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image {
    object-fit: cover;
    border-radius: 16px;  /* Arrondir les coins */
    width: 100%;  /* Cela fait en sorte que l'image prend toute la largeur disponible */
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    margin-left: 25px; /* Centrer l'image */
}

.image img {
    width: 100%;  /* L'image occupe toute la largeur de son parent */
    border-radius: 16px;  /* Assurer que les coins de l'image sont également arrondis */
}

/* Styles du formulaire de contact */
.contact .center {
    background: var(--degrade);
    
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 32px;
    min-width: 300px;
    
        max-width: 700px;
        width: 90%;
        margin: auto;

    color: var(--blanc);
}

.contact h1 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--blanc);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.contact-form label {
    font-weight: 600;
    text-align: left;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 32px;
    font-size: 16px;
    outline: none;
    background-color: var(--blanc);
    color: var(--noir);
    font-family: "Nunito", sans-serif;
    margin-bottom: 25px;
    margin-top: 15px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    width: 80%;
    background: var(--bleu);
    color: var(--blanc);
    padding: 12px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    border: 3px solid var(--blanc);
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}

.contact-form button:hover {
    background: var(--jaune);
    color: var(--noir);
}

/* Menu burger */
.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 0;
    border-radius: 5px;
}

.burger-menu div {
    width: 30px;
    height: 4px;
    background-color: var(--blanc);
    margin: 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {

    .contact {
        flex-direction: column;
        text-align: center;
    }
    .contact .center {
        width: 95%;
        padding: 20px;
    }

    header {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 10px 0;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
        display: none;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background: var(--degrade);
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 10;
    }

    .burger-menu {
        display: flex;
    }

    nav.active ul {
        display: flex;
    }

    .connexion {
        font-size: 14px;
        padding: 10px 30px;
        margin-left: 0;
    }
}

/* Modification du style pour l'élément actif du menu */
nav .en-cours {
    position: relative;
    color: var(--blanc);
}

/* Ajout du soulignement avec extrémités arrondies */
nav .en-cours::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: var(--blanc);
    border-radius: 5px;
}

.space input {
    width: 250px;
    border-radius: 32px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    border:0;
}

.trans-border {
    border-left:solid 2px;
    border-image: linear-gradient(to top, transparent, white 100%, transparent) 1;
    border-right:solid 2px var(--blanc);
}

.space label {
    font-size: 16px;
    font-weight: 600;
}

.space button {
    background: var(--bleu);
    color: var(--blanc);
    padding: 12px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 20px;
    display: inline-block;
    border: 3px solid var(--blanc);
    font-family: 'Nunito', sans-serif;
}

.space button:hover {
    background: var(--jaune);
    color: var(--noir);
}

.space a {
    color: var(--blanc);
    text-decoration: underline 2px var(--blanc);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connec-inscr {
    background: var(--degrade);
    width: 600px;
    padding:6%;
    border-radius: 32px;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: white;
}

.connec-inscr h1 {
    color: white;
}
main .accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

main .accueil section {
    width: 75%;  /* 75% de la largeur de la fenêtre */
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main .accueil section:nth-child(odd) {
    transform: translateX(-20px); /* Décale les sections impaires à gauche */
}

main .accueil section:nth-child(even) {
    transform: translateX(20px); /* Décale les sections paires à droite */
}



main .accueil section p {
    color: #555;
}

/* Boutons */
.btn {
    display: inline-block;
    background-color: #372dff;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #f6c944;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #372dff;
    padding: 20px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    min-height: 200px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}

footer a:hover {
    color: #f6c944;
}

/* Responsivité pour les petits écrans */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    main {
        padding: 20px;
    }

    section {
        width: 90%; /* Ajuste la largeur des sections sur petits écrans */
    }

    section:nth-child(odd),
    section:nth-child(even) {
        transform: none; /* Supprime les translations en petit écran */
    }
}

main .accueil {
    font-family: 'Nunito', sans-serif;
    color: var(--noir);
    display: flex;
    flex-direction: column;
    justify-content:center;
}

main .accueil section {
    width: 700px;  /* 75% de la largeur de la fenêtre */
    margin-bottom: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.container button {
    background: var(--bleu);
    color: var(--blanc);
    padding: 16px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 20px;
    display: inline-block;
    border: 3px solid var(--blanc);
}
.container button:hover {
    background: var(--jaune);
    color: var(--noir);
}