html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

header a {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    color: white;
    text-decoration: none;
}

/* Hover pour les liens du header */
header a:hover {
    color: rgb(244, 200, 255);
}

header {
    text-align: center;
    background: linear-gradient(0.25turn, #000000, #360044, #4e0058);
    padding-top: 25px;
    padding-bottom: 25px;
    min-width: 300px;
}

.logo {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 25%;
}

#bloc {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(99, 9, 110);
    border-radius: 25px;
    padding: 20px 0 3%;
    box-shadow: #4e0058 0px 4px 30px -10px;
    width: 60%;
    color: white;
    font-family: "OSWALD";
    font-size: 18px;
    text-align: center;
}

ul {
    padding: 0%;
    text-align: center;
}

h1 {
    font-family: "OSWALD";
}

#button {
    text-decoration: none;
    background-color: white;
    color: #000000;
    font-family: "OSWALD";
    font-size: 18px;
    width: 380px;
    height: 35px;
    border-radius: 25px;
    font-weight: bold;
    transition: transform 0.3s;
}

#button:hover {
    background-color: #d8b844;
    border: 20px;
    background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat;
    transform: scale(1.1);
}

#question {
    font-family: "OSWALD";
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7%;
    font-family: "OSWALD";
}

#quiz, #resultat {
    margin-top: 30px;
    margin-bottom: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #3C3DAB;
    border-radius: 25px;
    padding: 20px 0 3%;
    box-shadow: #2c2745 0px 4px 30px -10px;
    width: 60%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#nextbutton {
    text-decoration: none;
    background-color: white;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    width: 380px;
    height: 35px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#nextbutton:hover {
    transition: transform 0.3s;
    background-color: #d8b844;
    background-size: contain;
    background-position: -200px center;
    background-repeat: no-repeat;
    transform: scale(1.1);
}

#resultat {
    display: none;
}

.reponses {
    font-family: "OSWALD";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    height: 50px;
    background-color: #4e0058;
    border-color: white;
    border-radius: 25px;
    margin: 5px;
    padding-top: 3%;
}

.question-number {
    font-family: "OSWALD";
    font-weight: 50px;
    text-align: center;
    font-weight: bold;
    color: #DAAE0D;
    margin-bottom: 40px;
}

#timer-container {
    display: none;
    width: 100%;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
    height: 10px;
}

#progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
    position: absolute;
}

.animation {
    animation: timer 5s linear forwards;
}

.lineaire-simple {
    background: linear-gradient(#4e0058, rgb(95, 1, 17));
    width: 100%;
    height: 100%;
}

/* Mise en page de la question et des réponses */
#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
}

/* Style pour l'image */
#question-container img {
    object-fit:cover;
    width: 40%; /* Largeur de l'image */
    height: auto; 
    margin-right: 25px;
}

/* Conteneur des réponses */
div #reponses {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    margin-right: 25px;
}

#reponses a {
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #4e0058;
    border-radius: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

/* Hover sur les réponses */
#reponses a:hover {
    background-color: rgb(244, 200, 255);
}

/* Style pour le bouton suivant */
#nextbutton {
    margin-top: 50px;
    text-align: center;
    height: 40px;
    border-radius: 16px;
    padding: 0px 20px;
    color: white;
    background-color: rgb(43, 0, 68);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

/* Hover sur le bouton suivant */
#nextbutton:hover {
    margin-top: 50px;
    text-align: center;
    height: 40px;
    border-radius: 16px;
    padding: 0px 20px;
    color: rgb(43, 0, 68);
    background-color: white;
    border: 2px solid rgb(43, 0, 68);
}
footer {
    background: var(--degrade);
    padding: 20px;
    color: var(--blanc);
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

footer a {
    position: relative;
    text-decoration: none;
    color: var(--blanc);
    font-weight: 800;
    transition: color 0.3s ease-in-out;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    border-radius: 5px;
    background-color: var(--blanc);
    transition: width 0.3s ease-in-out;
}

footer a:hover::after {
    width: 100%;
}