.title-cards {
    
    margin-top: 50px;
    margin-bottom: 30px;
}

.title-cards h2 {
    margin-bottom: 8px;
}

.card-list {
    
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card {
    position: relative;
}

.card-list .card p {
    margin-top: 10px; /* Ajout d'un espacement pour séparer le texte de la carte */
    text-decoration: none white;
    color: white;
    font-weight: 600;
    display: block; /* Assure que le paragraphe s'affiche sur une nouvelle ligne */
}
a {
    text-decoration: none;
}

